<?xml version="1.0"?>

<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />

    <caching>
      <profiles>
        <add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
      </profiles>
    </caching>
    
    <rewrite>
      <rules>
        <!--
        Rewrites URL:
        http://domain.com/{controller}/{action}/{param1}/{param2}
        into ...
        http://domain.com/?url={controller}/{action}/{param1}/{param2}
        -->
        <rule name="URL rewrite main rule" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
        </rule>

        <rule name="Protect files and directories from prying eyes" stopProcessing="true">
          <match url="\.(php|lib|phtml)$" />
          <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Access is forbidden." />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>